html,
body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#page-container {
  min-height: 100%;
  position: relative;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

header {
  background-color: #2f3fa0;
  border: none;
  border-radius: 0;
  margin: 0;
  box-shadow: 4px 3px 6px -2px #9e9e9e;
}

.logo-image {
  float: left;
  max-width: 180px;
  margin: 1%;
}

form {
  display: inline-flex;
  margin-top: 6.5%;
}

.form-control {
  font-family: "Montserrat";
  font-size: 12pt;
  font-weight: 400;
}

#current-locale-button {
  margin-left: 50px;
  margin-top: 3px;
  padding: 5px 5px;
  box-shadow: 4px 3px 6px -2px #212121;
  background-color: #cecece;
  border-radius: 12px;
  transition: all 0.5s ease;
  outline: none;
  border: none;
}

#current-locale-button:hover {
  background-color: #ec6e4d;
}

.departure {
  margin-left: 10px;
  margin-right: 30px;
  box-shadow: 4px 3px 6px -2px #212121;
}

.arrival {
  margin-right: 30px;
  box-shadow: 4px 3px 6px -2px #212121;
}

.search-button {
  background-color: #cecece;
  color: #ffffff;
  border: none;
  font-family: "Montserrat";
  font-size: 11pt;
  font-weight: 400;
  padding: 7px 10px;
  margin: 0 auto;
  box-shadow: 4px 3px 6px -2px #212121;
  transition: all 0.5s ease;
  outline: none;
}

.search-button:hover {
  background-color: #ec6e4d;
}

.current-temp-container {
  background: #fafafa;
  margin-top: 25px;
  border-radius: 4px;
  box-shadow: 2px 3px 6px 2px #9e9e9e;
  max-width: 90%;
}
h2 {
  font-size: 18pt;
  font-weight: 500;
  color: #212121;
  margin: 3px;
}

h4 {
  font-size: 12pt;
  font-weight: 500;
  color: #212121;
  margin: 3px;
  padding-top: 5px;
}
.panel {
  box-shadow: 2px 2px 6px -2px #9e9e9e;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.panel-heading {
  font-size: 18pt;
  font-weight: 500;
  padding: 0;
  background: #c5cae9;
}

.weather-icon {
  width: 100px;
  margin: 0 auto;
}

#departureDescription,
#arrivalDescription {
  font-size: 13pt;
  text-transform: capitalize;
}

h3 {
  font-size: 38pt;
  line-height: 18pt;
  font-weight: 500;
  text-align: center;
  color: #757575;
}

.temp-unit {
  margin-top: 10px;
  border-radius: 4px;
}

.humidity-and-wind {
  margin-top: 20px;
  font-size: 13pt;
  line-height: 22pt;
}

.future-temp-container {
  background: #fafafa;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left: 64px;
  border-radius: 4px;
  box-shadow: 2px 3px 6px 2px #9e9e9e;
  max-width: 55%;
  float: left;
}

.forecast-time-temp-display {
  padding-top: 10px;
}
.weather-icon-little {
  width: 40px;
}

.illustrations-container {
  background: #fafafa;
  margin-top: 5px;
  max-width: 35%;
  float: right;
}

.forecast-illustration,
.rain-illustration,
.desert-illustration,
.snow-illustration {
  width: 130px;
  padding: 10px;
  margin: 0 auto;
}

footer {
  background: #2f3fa0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  margin: auto;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  box-shadow: -4px 3px 6px 2px #9e9e9e;
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
}

.github-link {
  color: #ffffff;
  text-decoration: underline;
}

.github-link:hover {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

.github-link:visited {
  color: #ffffff;
}
